<html>
  <head>
    <title>Webpage Analyzer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <link href="public/css/styles.css" rel="stylesheet"> -->
  </head>
  <body>
    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <h3>Enter URL</h3>
        </div>

        <div class="col-md-6">
          <form action="/" id="form" method="POST">
              <div class="input-group">
                  <input type="text" class="form-control" name="url" placeholder="Example: http://wikipedia.org">
                  <span class="input-group-btn">
                    <button class="btn btn-default" id="submit-btn" type="submit">Submit</button>
                  </span>
                </div>
            
          </form>
        </div>
      </div>

      <div class="row">
          
        <div class="col-md-6">
            
          <% if(!error) {%>
            <table class="table">
              <tr>
                <td>HTML version</td>
                <td><%= data.doctype %></td>
              </tr>
              <tr>
                <td>Title</td>
                <td><%= data.title %></td>
              </tr>
              <tr>
                <td>H1</td>
                <td><%= data.h1 %></td>
              </tr>
              <tr>
                <td>H2</td>
                <td><%= data.h2 %></td>
              </tr>
              <tr>
                <td>H3</td>
                <td><%= data.h3 %></td>
              </tr>
              <tr>
                <td>H4</td>
                <td><%= data.h4 %></td>
              </tr>
              <tr>
                <td>H5</td>
                <td><%= data.h5 %></td>
              </tr>
              <tr>
                <td>H6</td>
                <td><%= data.h6 %></td>
              </tr>
              <tr>
                <td>Number of total links</td>
                <td><%= data.links_count %></td>
              </tr>
              <tr>
                <td>Number of internal links</td>
                <td><%= data.internal_links %></td>
              </tr>
              <tr>
                <td>Number of external links</td>
                <td><%= data.external_links %></td>
              </tr>
              <tr>
                <td>Number of broken links</td>
                <td><%= data.broken_links %></td>
              </tr>
              <tr>
                <td>Login/signup form</td>
                <td><%= data.login_form %></td>
              </tr>
            </table>
          <% } else {%>
            <h3><%= error_message %></h3>
            <% } %>
        </div>
      </div>
    </div>
    <script>
        document.getElementById('form').addEventListener('submit', function(e){
            document.getElementById("submit-btn").innerHTML = '<img height="20" src="http://schoolofdata.scoda.okfn.org/wp-content/plugins/embed-facebook/slidewindow/loading.gif"/>'
        });
    </script>
  </body>
</html>
