<html>
  <head>
    <title>Webpage Analyzer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <h3>Enter URL</h3>
        </div>

        <div class="col-md-12">
          <form action="/" method="POST">
            <input placeholder="http://wikipedia.com" type="text" name="url">
            <input type="submit">
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <% if(data) {%>
            <table class="table">
              <tr>
                <td>HTML version</td>
                <td><%= data.doctype %></td>
              </tr>
              <tr>
                <td>Title</td>
                <td><%= data.title %></td>
              </tr>
              <tr>
                <td>H1</td>
                <td><%= data.h1 %></td>
              </tr>
              <tr>
                <td>H2</td>
                <td><%= data.h2 %></td>
              </tr>
              <tr>
                <td>H3</td>
                <td><%= data.h3 %></td>
              </tr>
              <tr>
                <td>H4</td>
                <td><%= data.h4 %></td>
              </tr>
              <tr>
                <td>H5</td>
                <td><%= data.h5 %></td>
              </tr>
              <tr>
                <td>H6</td>
                <td><%= data.h6 %></td>
              </tr>
              <tr>
                <td>Total number of links</td>
                <td><%= data.links_count %></td>
              </tr>
              <tr>
                <td>Number of internal links</td>
                <td><%= data.internal_links %></td>
              </tr>
              <tr>
                <td>Number of external links</td>
                <td><%= data.external_links %></td>
              </tr>
              <tr>
                <td>Number of broken links</td>
                <td></td>
              </tr>
              <tr>
                <td>Login/signup form</td>
                <td><%= data.login_form %></td>
              </tr>
            </table>
          <% } else {%>
            <h3><%= data.error_message %></h3>
            <h3><%= data.status_code %></h3>
            <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
